CREATE TABLE M_PAGE (
    FUNCTION_ID  VARCHAR(16) NOT NULL AUTO_INCREMENT COMMENT '機能ID'
   ,PEGE_ID      VARCHAR(16) NOT NULL COMMENT '画面ID'
   ,NAME         VARCHAR(64) NOT NULL COMMENT '画面名'
   ,ORDER_NUM    INTEGER     NOT NULL COMMENT '表示順'
   ,INS_DATETIME DATETIME    NOT NULL COMMENT '追加日時'
   ,INS_USER_ID  INTEGER     NOT NULL COMMENT '追加ユーザID'
   ,UPD_DATETIME DATETIME    NOT NULL COMMENT '更新日時'
   ,UPD_USER_ID  INTEGER     NOT NULL COMMENT '更新ユーザID'
   ,ROW_NUM      INTEGER     NOT NULL AUTO_INCREMENT COMMENT '行番号'
   ,REVISION     INTEGER     NOT NULL DEFAULT 1 COMMENT 'リビジョン'
   ,STATE        INTEGER     NOT NULL DEFAULT 0 COMMENT '状態'
   ,PRIMARY KEY(FUNCTION_ID,PEGE_ID)
   ,INDEX(ROW_NUM)
   ,UNIQUE KEY(ROW_NUM)
)
COMMENT = 'M画面(ver.1.0 by 佐々木 at 2016.10.19)'
;
