DROP TABLE IF EXISTS T_NOTIFICATION;

CREATE TABLE T_NOTIFICATION (
    NOTIFICATION_ID VARCHAR(16)   NOT NULL COMMENT '通知ID'
   ,TARGET_USER_ID  VARCHAR(16)   NOT NULL COMMENT '対象ユーザID'
   ,LEVEL           VARCHAR(1)    NOT NULL COMMENT '通知レベル'
   ,COMMENT         VARCHAR(1024) COMMENT 'コメント'
   ,CONFIRMED       VARCHAR(1)    NOT NULL COMMENT '確認フラグ'
   ,FUNCTION_ID     VARCHAR(16)   COMMENT '機能ID'
   ,INS_DATETIME    DATETIME      NOT NULL COMMENT '追加日時'
   ,INS_USER_ID     INTEGER       NOT NULL COMMENT '追加ユーザID'
   ,UPD_DATETIME    DATETIME      NOT NULL COMMENT '更新日時'
   ,UPD_USER_ID     INTEGER       NOT NULL COMMENT '更新ユーザID'
   ,ROW_NUM         INTEGER       NOT NULL AUTO_INCREMENT COMMENT '行番号'
   ,REVISION        INTEGER       NOT NULL DEFAULT 1 COMMENT 'リビジョン'
   ,STATE           INTEGER       NOT NULL DEFAULT 0 COMMENT '状態'
   ,PRIMARY KEY(NOTIFICATION_ID)
   ,INDEX(TARGET_USER_ID)
   ,INDEX(ROW_NUM)
   ,UNIQUE KEY(ROW_NUM)
)
;
