CREATE TABLE T_REQ_HISTORY (
    REQ_ID       INTEGER       NOT NULL COMMENT '申請ID'
   ,BRANCH       INTEGER       NOT NULL COMMENT '枝番'
   ,USER_ID      INTEGER       NOT NULL COMMENT 'ユーザID'
   ,JUDGEMENT    INTEGER       NOT NULL COMMENT '判定'
   ,COMMENT      VARCHAR(1024) COMMENT 'コメント'
   ,INS_DATETIME DATETIME      NOT NULL COMMENT '追加日時'
   ,INS_USER_ID  INTEGER       NOT NULL COMMENT '追加ユーザID'
   ,UPD_DATETIME DATETIME      NOT NULL COMMENT '更新日時'
   ,UPD_USER_ID  INTEGER       NOT NULL COMMENT '更新ユーザID'
   ,ROW_NUM      INTEGER       NOT NULL AUTO_INCREMENT COMMENT '行番号'
   ,REVISION     INTEGER       NOT NULL DEFAULT 1 COMMENT 'リビジョン'
   ,STATE        INTEGER       NOT NULL DEFAULT 0 COMMENT '状態'
   ,PRIMARY KEY(REQ_ID,BRANCH)
   ,INDEX(USER_ID)
   ,INDEX(ROW_NUM)
   ,UNIQUE KEY(ROW_NUM)
)
COMMENT = 'T申請履歴(ver.1.0 by 佐々木 at 2016.10.19)'
;
