CREATE TABLE T_REQ_ITEM (
    REQ_ID       INTEGER       NOT NULL COMMENT '申請ID'
   ,PAGE_NUM     INTEGER       NOT NULL COMMENT 'ページ番号'
   ,ITEM_ID      INTEGER       NOT NULL COMMENT '項目ID'
   ,INPUT_VALUE  VARCHAR(1024) NOT NULL COMMENT '入力値'
   ,INS_DATETIME DATETIME      NOT NULL COMMENT '追加日時'
   ,INS_USER_ID  INTEGER       NOT NULL COMMENT '追加ユーザID'
   ,UPD_DATETIME DATETIME      NOT NULL COMMENT '更新日時'
   ,UPD_USER_ID  INTEGER       NOT NULL COMMENT '更新ユーザID'
   ,ROW_NUM      INTEGER       NOT NULL AUTO_INCREMENT COMMENT '行番号'
   ,REVISION     INTEGER       NOT NULL DEFAULT 1 COMMENT 'リビジョン'
   ,STATE        INTEGER       NOT NULL DEFAULT 0 COMMENT '状態'
   ,PRIMARY KEY(REQ_ID,PAGE_NUM,ITEM_ID)
   ,INDEX(ROW_NUM)
   ,UNIQUE KEY(ROW_NUM)
)
COMMENT = 'T申請項目(ver.1.0 by 佐々木 at 2016.10.19)'
;
