body {
    padding-top    :4.5rem;
    padding-bottom :2.0rem;
}

.comet-required:after {
    content :"(必須)";
    color   :red;
}

.comet-footer {
    color            :#807020;
    background-color :#F0E090;
}
