body {
	padding-top      :60px ;
	background-color :white;
}

hr {
	border-style    :solid        ;
	border-width    :0 1px 1px 1px;
	border-color    :black        ;
	background-color:black        ;
	height          :0            ;
}

/*
input[type=password] {
	margin   :0   ;
	padding  :2px ;
	height   :17px;
	font-size:10px;
}

input[type=button],input[type=submit],button {
	margin   :0    ;
	padding  :5px  ;
	width    :100px;
}

input[type=checkbox] {
	margin-right :2px;
}

select {
	margin    :0    ;
	padding   :5px  ;
	min-width :100px;
}
*/

div.page-footer {
	position        :fixed  ;
	bottom          :0      ;
	left            :0      ;
	height          :20px   ;
	width           :100%   ;
	text-align      :center ;
	background-color:#F0E090;
    color           :#807020;
    font-weight     :bold   ;
	z-index         :1000
}

div.page-content {
	margin-bottom :30px    ;
/*	padding       :0       ;*/
}

div.page-block {
	margin : 10px 0;
}

.col-text {
	text-align  :left;
}

.col-numeric {
	text-align  :right;
}

.col-mark {
	text-align  :center;
}

.table-border td, .table-border th {
	border         : solid 1px #808080;
	padding        : 5px 10px;
	vertical-align : middle;
}

.table-border th {
    background-color:#A0E0B0;
}
.table-border th.require {
    background-color:#FFE0E0;
}
