CREATE TABLE M_DOC_ITEM (
    DOC_ID       INTEGER     NOT NULL COMMENT '文書ID'
   ,PAGE_NUM     INTEGER     NOT NULL COMMENT 'ページ番号'
   ,ITEM_NAME    VARCHAR(64) NOT NULL COMMENT '項目名'
   ,EXCEL_ROW    INTEGER     NOT NULL COMMENT 'エクセル行番号'
   ,EXCEL_COL    INTEGER     NOT NULL COMMENT 'エクセル列番号'
   ,ITEM_TYPE    INTEGER     NOT NULL COMMENT '項目種別'
   ,INS_DATETIME DATETIME    NOT NULL COMMENT '追加日時'
   ,INS_USER_ID  INTEGER     NOT NULL COMMENT '追加ユーザID'
   ,UPD_DATETIME DATETIME    NOT NULL COMMENT '更新日時'
   ,UPD_USER_ID  INTEGER     NOT NULL COMMENT '更新ユーザID'
   ,ROW_NUM      INTEGER     NOT NULL AUTO_INCREMENT COMMENT '行番号'
   ,REVISION     INTEGER     NOT NULL DEFAULT 1 COMMENT 'リビジョン'
   ,STATE        INTEGER     NOT NULL DEFAULT 0 COMMENT '状態'
   ,PRIMARY KEY(DOC_ID,PAGE_NUM,ITEM_NAME)
   ,INDEX(ROW_NUM)
   ,UNIQUE KEY(ROW_NUM)
)
COMMENT = 'M文書項目(ver.1.0 by 佐々木 at 2016.10.19)'
;
